@model gRPC_Client.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.AntiForgeryToken()

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="@Model.Id" />

    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
        <tr>
            <td>
                <input type="text" asp-for="@Model.Name" />
            </td>
            <td>
                <input type="text" asp-for="@Model.Price" />
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Update</button>

</form>
<a asp-action="Index">Back to list</a>

